head, body {
    background-image: url(fractal.jpg);
}

.container {
  margin-left: 200px;
  margin-right: 100px;
  padding: 1px 16px;
  height: auto !important;
  height: 100%;
}

#headshot {
  height: 243px;
  width: 195px;
}

span, p, a {
    color: white;
    font-family: 'Roboto';
    display: inline;
    line-height: 45px;
    font-size: 22px;
    font-weight: lighter;
    text-decoration: none;
}

#pop {
    font-size: 30px;
    opacity: 1;
    line-height: 80px;
}

.socials {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.socials a {
  display: block;
  text-align: center;
  padding: 50px 70px;
  color: white;
  font-size: 50px;
  opacity: 0.6;
}

.socials a:hover {
  opacity: 1;
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -10px;
}

.footer, .push {
  height: 10px;
}
